#wall .tag-1 {
    display: none; /*Removes the graffiti  from tag-1*/
}

body #wall #tag-2 {
    display: none; /*Removes the graffiti from tag-2*/
}

body div#wall #tag-3.slick {
    display: none; /*Removes the graffiti from tag-3*/
}

body #wall .parent #tag-4 {
    display: none; /*Removes the graffiti from tag-4*/
}
}

body div#wall .parent #tag-5.slick {
    display: none; /*Removes the graffiti from tag-5*/
}
}